{% extends "base.html" %}
{% set active_page = "plugins" %}
{% block title %}
    Fancygotchi
{% endblock %}

{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=0" />
{% endblock %}


{% block styles %}
{{ super() }}
<style>
    #wrap_img{
        position:relative;
        //padding:50px;
        border:1px solid lime;
    }
    #bg_img{
        top:50px;
        position:relative;
        //-webkit-filter: grayscale(1);
       margin-left:50px;
    }
    #content{
        position:relative;
    }
    #filter_color{
        top:50px;
        margin-left:50px;
        //background-color: rgba(0, 255, 0, 0.5);
        position:absolute;
        //width:100%;
        //height:100%;
        z-index:100;
        border:1px solid lime;
    }
    #upd{
        margin: 0;
        top: -7px;
    }
    #divTop{
        //height:50px;
        border-bottom: 1px solid lime;
        //margin: -10px;
        //padding: -10px;
    }
    #divDevTop{
        //height:50px;
        border-bottom: 1px solid lime;
        //margin: -10px;
        //padding: -10px;
    }
    #wrap_cmd{
        float:left;
        text-align: center;
        padding: 10px;
        align-items: center;
        justify-content: center;
        //width:50%;
        flex-grow: 1;
        border: 1px solid lime;
    }
    #cmd_tabs{
        //height:50px;
        border-bottom: 1px solid lime;
        //margin: -10px;
        //padding: -10px;
    }
    #wrap_img{
        text-align: center;
        padding: 10px;
        align-items: center;
        justify-content: center;
        float:right;
        //width:50%;
        position: relative;
    }
    #editor{
        display: flex;
        width: 100%;
        //border:1px solid red;
        margin-right: 0;
    }
    #btnDevBackup{
        top: 9px;
    }
    #tableoptions{
        border-bottom: 1px solid lime;
    }
</style>
{% endblock %}

{% block content %}
    <div id="divDevTop" data-role="navbar" data-iconpos="left">
        <ul>
            <li class="navitem"><input id="textDevBackup" type="text" placeholder="Backup folder name..."></input></li>
            <li class="navitem"><button id="btnDevBackup" type="button" onclick="dev_backup()">dev_backup fancygotchi</button></li>
        </ul>

    </div>
    <div id="divTop" data-role="navbar" data-iconpos="left">
        <ul>
            <li class="navitem"><button id="btnLoad" type="button" onclick="loadConfig()">Load theme</button></li>
            <li class="navitem"><button id="btnSave" type="button" onclick="saveConfig()">Save theme</button></li>
            <li class="navitem"><button id="btnUninstall" type="button" onclick="uninstall()">Uninstall fancygotchi</button></li>
            <li class="navitem"><button id="btnUpdate" type="button" onclick="check_update()">Check fancygotchi update</button></li>
            <li class="navitem"><input type="checkbox" id="upd_on" /><label for="upd_on"  id="upd">Online update</label></li>
        </ul>
    </div>
    <div id="editor">
        <div id="wrap_cmd" data-role="tabs">
            <div id="cmd_tabs" data-role="navbar">
                <ul>
                    <li><a href="#info" data-theme="a" data-ajax="false" class="ui-btn-active">Theme info</a></li>
                    <li><a href="#options" data-theme="a" data-ajax="false">Options</a></li>
                    <li><a href="#main" data-theme="a" data-ajax="false">Main components</a></li>
                    <li><a href="#plugins" data-theme="a" data-ajax="false">Plugins components</a></li>
                    <li><a href="#css" data-theme="a" data-ajax="false">CSS</a></li>
                </ul>
            </div>
            <div id="info" class="ui-content">
                <h1>Theme info tab contents</h1>
                <input type="text" id="searchText" placeholder="Search for options ..." title="Type an option name"></input>
                <div id="content_info"></div>
            </div>
            <div id="options" class="ui-content">
                <h1>Options tab contents</h1>
                <div id="content_options"></div>
            </div>
            <div id="main" class="ui-content">
                <h1>Main components tab contents</h1>

                <div class="ui-field-contain">
                    <label for="custom-tab-select">Main components</label>
                    <select name="custom-tab-select" id="select-native-2" data-mini="true" data-native-menu="false" class="custom-tab-select">
                        <option value="1" data-href="#main-comp" data-theme="a" data-ajax="false">Main Components</option>
                        <option value="2" data-href="#comp1" data-theme="a" data-ajax="false">The 2nd Option</option>
                        <option value="3">The 3rd Option</option>
                        <option value="4">The 4th Option</option>
                    </select>
                </div>
                <div id="content_main"></div>
            </div>
            <div id="plugins" class="ui-content">
                <h1>Plugins tab contents</h1>
                <div id="content_plugins"></div>
            </div>
            <div id="css" class="ui-content">
                <h1>CSS tab contents</h1>
                <div id="content_css"></div>
            </div>
        </div>
        
        <div id="wrap_img">
            <div id="filter_color"></div>
            <div id="bg_img"></div>
        </div>
    </div>
    <div id="debug"></div>
    
{% endblock %}

{% block script %}
        function saveConfig(){
            // get table
            var table = document.getElementById("tableOptions");
            if (table) {
                var json = tableToJson(table);
                sendJSON("fancygotchi/save-config", json, function(response) {
                    if (response) {
                        if (response.status == "200") {
                            alert("Config got updated");
                        } else {
                            alert("Error while updating the config (err-code: " + response.status + ")");
                        }
                    }
                });
            }
        }
        function uninstall(){
            if (confirm("Do you want uninstall Fancygotchi?")){
                var json = {"response":"1"};
                sendJSON("fancygotchi/uninstall", json, function(response) {
                    if (response) {
                        if (response.status == "200") {
                            alert("fancygotchi is uninstalled");
                            window.location.href = '/';
                        } else {
                            alert("Error while uninstalling fancygotchi (err-code: " + response.status + ")");
                        }
                    }
                });
            } else {
                alert("uninstall was canceled");
            }
        }
        function check_update(){
            var online = document.getElementById("upd_on").checked;
            if (online == true){
                var ck_upd = "fancygotchi/check_online_update";
                var upd = "fancygotchi/online_update";}
            else {
                var ck_upd = "fancygotchi/check_local_update";
                var upd = "fancygotchi/local_update";}
            //alert(ck_upd + " " + upd);
   
            if (confirm("Do you want check for Fancygotchi update?")){
                var json = {"response":"1"};
                sendJSON(ck_upd, json, function(response){
                    if (response) {
                        if (response.status == "200") {
                            is_version = response.responseText.split(',')
                            if (is_version[0] == 'True') {
                                alert('New fancygotchi update v.' + is_version[1]);
                                if (confirm("Do you want update Fancygotchi to v." + is_version[1] + "?")){
                                    var json = {"response":"1"};
                                    sendJSON(upd, json, function(response){
                                        if (response) {
                                            if (response.status == "200"){
                                                alert("fancygotchi is updated");
                                                //window.location.href = '/';
                                            } else {
                                                alert("Error while updating fancygotchi (err-code: " + response.status + ")");
                                            }
                                        }
                                    });
                                } else {
                                    alert("update was canceled");
                                }
                            } else if (is_version[0] == 'False') {
                                alert('Fancygotchi is up-to-date v.' + is_version[1]);
                            //window.location.href = '/';
                            } else {
                                alert("no local update folder is found");
                            }

                        } else {
                            alert("Error while checking fancygotchi update (check internet connection) (err-code: " + response.status + ")");
                        }
                    }
                });
            } else {
                alert("checking update was canceled");
            }

        }
        function update(){
            if (confirm("Do you want update Fancygotchi?")){
                var json = {"response":"1"};
                sendJSON("fancygotchi/update", json, function(response) {
                    if (response) {
                        if (response.status == "200") {
                            alert("fancygotchi is updated");
                            window.location.href = '/';
                        } else {
                            alert("Error while updating fancygotchi (err-code: " + response.status + ")");
                        }
                    }
                });
            } else {
                alert("update was canceled");
            }

        }

        // Function to backup all dev files into the specified folder
        function dev_backup() {
            var folder = document.getElementById("textDevBackup").value;
            if (folder == "") {
                folder = "last_backup";
            }
            alert(folder);
            if (confirm("Do you want backup Fancygotchi dev files?")){
                var json = {"response": folder};
                sendJSON("fancygotchi/devbackup", json, function(response) {
                    if (response) {
                        if (response.status == "200") {
                            alert("dev fancygotchi is backed up");
                            //window.location.href = '/';
                        } else {
                            alert("Error while dev backed up the fancygotchi (err-code: " + response.status + ")");
                        }
                    }
                });
            } else {
                alert("dev backup was canceled");
            }
        }


        var searchInput = document.getElementById("searchText");
        searchInput.onkeyup = function() {
            var filter, table, tr, td, i, txtValue;
            filter = searchInput.value.toUpperCase();
            table = document.getElementById("tableOptions");
            if (table) {
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        }else{
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }

        function sendJSON(url, data, callback) {
          var xobj = new XMLHttpRequest();
          var csrf = "{{ csrf_token() }}";
          xobj.open('POST', url);
          xobj.setRequestHeader("Content-Type", "application/json");
          xobj.setRequestHeader('x-csrf-token', csrf);
          xobj.onreadystatechange = function () {
                if (xobj.readyState == 4) {
                  callback(xobj);
                }
          };
          xobj.send(JSON.stringify(data));
        }

        function loadJSON(url, callback) {
          var xobj = new XMLHttpRequest();
          xobj.overrideMimeType("application/json");
          xobj.open('GET', url, true);
          xobj.onreadystatechange = function () {
                if (xobj.readyState == 4 && xobj.status == "200") {
                  callback(JSON.parse(xobj.responseText));
                }
          };
          xobj.send(null);
        }

        // https://stackoverflow.com/questions/19098797/fastest-way-to-flatten-un-flatten-nested-json-objects
        function unFlattenJson(data) {
            "use strict";
            if (Object(data) !== data || Array.isArray(data))
                return data;
            var result = {}, cur, prop, idx, last, temp, inarray;
            for(var p in data) {
                cur = result, prop = "", last = 0, inarray = false;
                do {
                    idx = p.indexOf(".", last);
                    temp = p.substring(last, idx !== -1 ? idx : undefined);
                    inarray = temp.startsWith('#') && !isNaN(parseInt(temp.substring(1)))
                    cur = cur[prop] || (cur[prop] = (inarray ? [] : {}));
                    if (inarray){
                        prop = temp.substring(1);
                    }else{
                        prop = temp;
                    }
                    last = idx + 1;
                } while(idx >= 0);
                cur[prop] = data[p];
            }
            return result[""];
        }

        function flattenJson(data) {
            var result = {};
            function recurse (cur, prop) {
                if (Object(cur) !== cur) {
                    result[prop] = cur;
                } else if (Array.isArray(cur)) {
                     for(var i=0, l=cur.length; i<l; i++)
                         recurse(cur[i], prop ? prop+".#"+i : ""+i);
                    if (l == 0)
                        result[prop] = [];
                } else {
                    var isEmpty = true;
                    for (var p in cur) {
                        isEmpty = false;
                        recurse(cur[p], prop ? prop+"."+p : p);
                    }
                    if (isEmpty)
                        result[prop] = {};
                }
            }
            recurse(data, "");
            return result;
        }

        function delRow(btn) {
            var tr = btn.parentNode.parentNode.parentNode;
            tr.parentNode.removeChild(tr);
        }

        function jsonToTable(json, del) {
            var table = document.createElement("table");
            table.id = "tableOptions";

            // create header
            var tr = table.insertRow();
            if (del == true) {
                var thDel = document.createElement("th");
                thDel.innerHTML = "";
            }
            var thOpt = document.createElement("th");
            thOpt.innerHTML = "Option";
            var thVal = document.createElement("th");
            thVal.innerHTML = "Value";
            if (del == true) {
                tr.appendChild(thDel);
            }
            tr.appendChild(thOpt);
            tr.appendChild(thVal);

            var td, divDelBtn, btnDel;
            // iterate over keys
            Object.keys(json).forEach(function(key) {
                tr = table.insertRow();
                if (del == true) {
                    // del button
                    divDelBtn = document.createElement("div");
                    divDelBtn.className = "del_btn_wrapper";
                    td = document.createElement("td");
                    td.setAttribute("data-label", "");
                    btnDel = document.createElement("Button");
                    btnDel.innerHTML = "X";
                    btnDel.onclick = function(){ delRow(this);};
                    btnDel.className = "remove";
                    divDelBtn.appendChild(btnDel);
                    td.appendChild(divDelBtn);
                    tr.appendChild(td);
                }
                // option
                td = document.createElement("td");
                td.setAttribute("data-label", "Option");
                td.innerHTML = key;
                tr.appendChild(td);
                // value
                td = document.createElement("td");
                td.setAttribute("data-label", "Value");
                if(typeof(json[key])==='boolean'){
                    input = document.createElement("select");
                    input.setAttribute("id", "boolSelect");
                    tvalue = document.createElement("option");
                    tvalue.setAttribute("value", "true");
                    ttext = document.createTextNode("True")
                    tvalue.appendChild(ttext);
                    fvalue = document.createElement("option");
                    fvalue.setAttribute("value", "false");
                    ftext = document.createTextNode("False");
                    fvalue.appendChild(ftext);
                    input.appendChild(tvalue);
                    input.appendChild(fvalue);
                    input.value = json[key];
                    document.body.appendChild(input);
                    td.appendChild(input);
                    tr.appendChild(td);
                } else {
                    input = document.createElement("input");
                    if(Array.isArray(json[key])) {
                        input.type = 'text';
                        input.value = '[]';
                    }else{
                        input.type = typeof(json[key]);
                        input.value = json[key];
                    }
                    td.appendChild(input);
                    tr.appendChild(td);
                }
            });
            return table;
        }

        function jsonToArray(json) {
            var theme_array = [];
            var x = 0;
            Object.keys(json).forEach(function(key) {
                //alert(json[key]);
                theme_array[x] = [key, json[key]];
                //alert(theme_array[x][0]);
                x+=1;
            });
            return theme_array;
        }

        function tableToJson(table) {
            var rows = table.getElementsByTagName("tr");
            var i, td, key, value;
            var json = {};

            for (i = 0; i < rows.length; i++) {
                td = rows[i].getElementsByTagName("td");
                if (td.length == 2) {
                    // td[0] = del button
                    key = td[0].textContent || td[0].innerText;
                    var input = td[1].getElementsByTagName("input");
                    var select = td[1].getElementsByTagName("select");
                    if (input && input != undefined && input.length > 0 ) {
                        if (input[0].type == "text") {
                            if (input[0].value.startsWith("[") && input[0].value.endsWith("]")) {
                                json[key] = JSON.parse(input[0].value);
                            }else{
                                json[key] = input[0].value;
                            }
                        }else if (input[0].type == "number") {
                            json[key] = Number(input[0].value);
                        }
                    } else if(select && select != undefined && select.length > 0) {
                        var myValue = select[0].options[select[0].selectedIndex].value;
                        json[key] = myValue === 'true';
                    }
                }
            }
            return unFlattenJson(json);
        }

        // Call to generate the page
        loadJSON("fancygotchi/get-info", function(response) {
            var flat_json = flattenJson(response);
            var table = jsonToTable(flat_json, false);
            var theme_array = jsonToArray(flat_json);
            var divContent = document.getElementById("content_info");
            var bg_img = document.getElementById('bg_img');
            var wrap_img = document.getElementById('wrap_img');
            var is_up = document.getElementById('btnUpdate');
            bg_img.style.backgroundImage = "url('/img/" + theme_array[5][1] + "')";
            wrap_img.style.width = (theme_array[2][1] + 100) + 'px';
            wrap_img.style.height = (theme_array[3][1] + 100) + 'px';
            bg_img.style.width = theme_array[2][1] + 'px';
            bg_img.style.height = theme_array[3][1] + 'px';
            filter_color.style.width = theme_array[2][1] + 'px';
            filter_color.style.height = theme_array[3][1] + 'px';
                
            //alert(theme_array[3][1] + 'px');
            //bg_img.style.background = theme_array[3][1];

            divContent.innerHTML = "";
            divContent.appendChild(table);
        });
        loadJSON("fancygotchi/get-options", function(response) {
            var flat_json = flattenJson(response);
            var table = jsonToTable(flat_json, false);
            var theme_array = jsonToArray(flat_json);
            var divContent = document.getElementById("content_options");

            divContent.innerHTML = "";
            divContent.appendChild(table);
        });
        loadJSON("fancygotchi/get-main", function(response) {
            var flat_json = flattenJson(response);
            var table = jsonToTable(flat_json, false);
            var theme_array = jsonToArray(flat_json);
            var divContent = document.getElementById("content_main");

            divContent.innerHTML = "";
            divContent.appendChild(table);
        });
        loadJSON("fancygotchi/get-plugins", function(response) {
            var flat_json = flattenJson(response);
            var table = jsonToTable(flat_json, true);
            var theme_array = jsonToArray(flat_json);
            var divContent = document.getElementById("content_plugins");

            divContent.innerHTML = "";
            divContent.appendChild(table);
        });
{% endblock %}